{
  "presets": [
    "next/babel"
  ],
  "plugins": ["@babel/plugin-proposal-optional-chaining"],
  "env": {
    "production": {
      "plugins": [
        [
          "emotion", {
            "hoist": true
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        [
          "emotion", {
            "sourceMap": true,
            "autoLabel": true
          }
        ]
      ]
    }
  }
}