{
  "presets": [
    [
      "@babel/preset-react"
    ],
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-optional-chaining"],
  "env": {
    "production": {
      "plugins": [
        [
          "emotion", {
            "hoist": true
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        [
          "emotion", {
            "sourceMap": true,
            "autoLabel": true
          }
        ]
      ]
    }
  }
}
