{
  "presets": [
    [
      "@babel/preset-react"
    ],
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "usage",
        "shippedProposals": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "emotion", {
            "hoist": true
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        [
          "emotion", {
            "sourceMap": true,
            "autoLabel": true
          }
        ]
      ]
    }
  }
}
