version: "3.4"
services:
  library-web:
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=${EXTERNAL_NETWORK:-ridi}"
      - "traefik.frontend.rule=Host:library.local.ridi.io"
    networks:
      - traefik
    ports:
      - 8080
networks:
  traefik:
    external:
      name: ${EXTERNAL_NETWORK:-ridi}
